@media (max-width: 1000px) {

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        padding-left: 5%;
        padding-right: 5%;
    }

    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 10px 15px;
    }

    .about img {
        height: auto;
        width: 285px;
    }

    .about-text p {
        font-size: 16px;
    }

    .main {
        width: auto;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .tittle h2 {
        font-size: 55px;
    }

    .card {
        height: 440px;
        width: auto;
        padding: 15px 30px;
        background: #191919;
        border-radius: 20px;
        margin: 10px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    .services {
        padding: 100px 10px;
    }

}