@media (max-width: 1180px) {

    .hero {
        background-image: url("/img/background_img640_1.png");
    }

    .logo {
        color: white;
        font-size: 25px;
        letter-spacing: 1px;
        cursor: pointer;
        width: 164px;
    }

}