@media (max-width: 1400px) {
    /* span {
        color: yellowgreen;
    } */

    .logo {
        color: white;
        font-size: 27px;
        letter-spacing: 1px;
        cursor: pointer;
    }
}