@media (max-width: 640px) {

    .hero {
        background-image: url("/Mi-Portafolios-Website-2023/img/background_img640_1.png");
    }

    .logo {
        width: 180px;
    }

    .content {
        top: 58%;
        left: 5%;
    }

    .btn {
        position: absolute;
        top: -15%;
    }

    .box-skills i{
        width: 60px;
        height: 60px;
        font-size: 22px;
    }

    .contact p {
        font-size: 18px;
    }

    footer p:nth-child(1){
        font-size: 18px;
    }

    footer p:nth-child(2){
        font-size: 14px;
    }

}