@media (max-width: 880px) {

    .hero {
        background-image: url("/Mi-Portafolios-Website-2023/img/background_img640_1.png");
    }

    .menu-i {
        position: absolute;
        top: -50%;
        right: 3%;
        width: 200px;
        background: cornflowerblue;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        border-radius: 4px;
        transition: all .55s ease;
    }

    nav ul li a:hover {
        color: black;
        font-weight: bold;
        transition: .4s;
    }

    .btn {
        position: absolute;
        right: 15%;
    }

    #menu-icon {
        font-size: 35px;
        color: white;
        z-index: 10001;
        cursor: pointer;
        position: relative;
    }

    .logo {
        width: auto;
    }

    .open {
        position: absolute;
        top: 13%;
    }

    .main {
        max-width: 80%;
    }

    .about-text {
        width: 45%;
    }

    .about img {
        width: 45%;
    }

    .about-text h2 {
        font-size: 45px;
    }

    .box {
        display: block;
    }

    .card {
        height: auto;
        margin: 3%;
    }

    .tittle h2 {
        font-size: 45px;
    }

}